.container1{

  background-color: rgb(16, 2, 9);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 2fr 2fr;
    

  
}
.navBar
{
  background-color: white;
  grid-row:1;
  grid-column: 1;

}